# Jaxson Hobbs's website

Hi, I'm Jaxson.

My interests are:

- Legos
- Minecraft
- Mario games
- Spiderman
- Sonic

## Favorite music

- [Chonglomerate](https://www.youtube.com/watch?v=Cg47zr20KGA) by [PlexusPlay](https://www.youtube.com/@plexusplaymusic)

## Family websites

I have a brother, [Julian](https://julian.hobbs.page).

My dad is [Paul Hobbs](https://paul.hobbs.page) and my Opa is [Ben Hobbs](https://hobbsgroup.johnshopkins.edu/members.html).